#img1{
    position: absolute;
    left: 50px;
    
}

#img2{
    position: absolute;
    left: 100px;
    
}
#img3{
    position: absolute;
    left: 150px;
    
}
#img4{
    position: absolute;
    left: 200px;
    
}
#img5{
    position: absolute;
    left: 250px;
    
}

#tableau{
    border: solid;
    border-color: black;
    
}

#container1{
    
    cursor: pointer;
    
}

#thing{
    width: 75px;
    height: 75px;
    border: 15px;
    border-radius: 50%;
    background-color: yellow;
    transform: translate3d(50px,50px,0);
    transition: transform .3s ease-in;
}
#countainer2{
    cursor: pointer;
    border: solid;
    border-color: black;
    width: 10%;
    height: 15%;
}